@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<style>
    .login-form {
        width: 650px;
        height: auto;
        top: 50%;
        margin-top: -10px;
    }

    #principal {
        width: 800px;
        height: 450px;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
    }
</style>




<div class="container" id="principal">
    <table><tr><td><h3>Nuevo Insumo</h3></td><td><a href="@Url.Action("Index","Insumo")">Volver</a></td></tr></table>
    <hr />
    <form class="bg-white p-6 mx-auto border bd-default win-shadow">
        <table>
            <tr><td style="padding-right:15px;">Descripción:</td><td style="padding:10px;"><input style="width:400px;" type="text" data-role="input" data-append="" class="input-lg"></td></tr>
            <tr>

            <tr>
                <td style="padding-right:15px;">UMedida</td>
                <td style="padding:10px;">
                    <select style="width:400px;" data-role="select" class="input-lg">
                        <option value="1">M2</option>
                        <option value="2">Unidad</option>
                        <option value="3">Galon</option>
                        <option value="3">Litro</option>
                        <option value="3">Kilogramo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-right:15px;">Categoria</td>
                <td style="padding:10px;">
                    <select style="width:400px;" data-role="select" class="input-lg">
                        <option value="MP">Materia Prima</option>
                        <option value="PI">Pintura</option>
                        <option value="AC">Accesorios</option>

                    </select>
                </td>
            </tr>
        </table><br />

        <div class="form-group">
            <button class="button success">Registrar</button>
            <input type="button" class="button" value="Cancel">
        </div>

    </form>

</div>

