<style>
    #principal {
        width: 800px;
        height: 450px;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
    }
</style>




<div class="container" id="principal">
    <h3>Ver Insumo</h3>
    <table><tr><td><a href="@Url.Action("Index","Insumo")">Insumos/</a></td><td><a href="@Url.Action("Index","Producto")">Productos/</a></td><td><a href="@Url.Action("Index","Proveedor")" ">Proveedores</a></td></tr></table>
    <hr />
    <form class="bg-white p-6 mx-auto border bd-default win-shadow">
        <table>
            <tr><td style="padding-right:15px;">Descripción:</td><td style="padding:10px;"><input style="width:400px;" type="text" value="Terciado Estructural" disabled="disabled" data-role="input" data-append="" class="input-lg"></td></tr>
            <tr>

            <tr>
                <td style="padding-right:15px;">UMedida</td>
                <td style="padding:10px;">
                    <input style="width:400px;" type="text" value="M2" disabled="disabled" data-role="input" data-append="" class="input-lg">
                </td>
            </tr>


            <tr>
                <td style="padding-right:15px;">Categoria</td>
                <td style="padding:10px;">
                    <input style="width:400px;" type="text" value="Materia Prima" disabled="disabled" data-role="input" data-append="" class="input-lg">
                </td>
            </tr>
        </table><br />

    </form>

</div>


