
@{
    ViewBag.Title = "ViewUser";
}

<div class="container bg-white p-6 mx-auto border bd-default win-shadow"
     style="margin-top:100px; max-width: 600px">
    <form>
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" placeholder="Ingrese Usuario..." data-role="input"
                   data-prepend="<span class='mif-user'></span>" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" placeholder="Ingrese Contraseña..." data-role="input"
                   data-prepend="<span class='mif-key'></span>" />
        </div>
        <div class="form-group">
            <input type="checkbox" data-role="checkbox" data-caption="Recordarme">
        </div>
        <div class="form-group">
            <button class="button default outline">Ingresar</button>
            <input type="button" class="button default outline" value="Atras">
        </div>
    </form>
</div>

