@{
    ViewBag.Title = "Intranet";
    Layout = "~/Areas/Gerencia/Views/Shared/_IntranetLayoutGerencia.cshtml";
}

<style>
    #principal {
        width: 830px;
        height: 750px;
        top: 50%;
        margin-top: 5px;
        border: 1px solid green;
        padding-top: 10px;
        padding-left: 60px;
        position: relative;
    }

    .user_session {
        margin-top: 60px;
        margin-left: 5px;
        width: 300px;
        position: relative;
        color: blue;
    }

    .div-img {
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="user_session">
    <h6>Usuario: Juan Perez</h6>
</div>

<div class="container" id="principal">
    <div class="div-img"><img style="width:50px; height:50px;" src="~/pics/intranet/lupa.png"></div>
    <h3>Ver Proveedor</h3>
    <hr />
    <form class="bg-white p-6 mx-auto border bd-default win-shadow">
        <div class="row mb-2">
            <label class="cell-sm-3">Razón:</label>
            <div class="cell-sm-9">
                <input type="text" value="Empresa de Pinturas S.A" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-shop'></span>"
                       readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label class="cell-sm-3">Rut:</label>
            <div class="cell-sm-4">
                <input type="text" data-role="input" value="65.897.345-k" class="mb-1"
                       data-prepend="<span class='mif-indent-increase'></span>" readonly>
            </div>
        </div>

        <div class="row mb-2">
            <label class="cell-sm-3">Dirección:</label>
            <div class="cell-sm-9">
                <input type="text" value="Los Avellanos # 675" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-steps'></span>"
                       readonly>
            </div>
        </div>

        <div class="row mb-2">
            <label class="cell-sm-3">Teléfono:</label>
            <div class="cell-sm-4">
                <input type="text" value="+56 9 86754532" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-phone'></span>"
                       readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label class="cell-sm-3">Email:</label>
            <div class="cell-sm-9">
                <input type="email" value="ep@email.com" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-envelop'></span>"
                       readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label class="cell-sm-3">Categoria:</label>
            <div class="cell-sm-6">
                <input type="text" value="Pinturas" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-stack2'></span>"
                       readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label class="cell-sm-3">Contacto:</label>
            <div class="cell-sm-6">
                <input type="text" value="Fernando Ruiz Maldonado" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-earth2'></span>"
                       readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label class="cell-sm-3">Comuna:</label>
            <div class="cell-sm-6">
                <input type="text" value="Providencia" data-role="input"
                       class="mb-1"
                       data-prepend="<span class='mif-earth'></span>"
                       readonly>
            </div>
        </div>
    </form>

</div>


