@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }
</style>




<div class="container" id="principal">
    <h3>Lista de Proveedores</h3>
    <table><tr><td><a href="@Url.Action("Nuevo","Proveedor")">Nuevo/</a></td><td><a href="@Url.Action("Index","Producto")">Producto/</a></td><td><a href="@Url.Action("Index","Insumo")">Insumos/</a></td></tr></table>
    <hr />
    <table class="table compact">
        <thead>
            <tr>
                <th>Razon</th>
                <th>R.U.T</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Empresa de Pinturas S.A</td>
                <td>65.786.987-k</td>
                <td>Los Avellanos # 675</td>
                <td>ep@email.com</td>
                <td>Pinturas</td>
            </tr>
            <tr>
                <td>Prodema S.A</td>
                <td>60.123.223-9</td>
                <td>Padre Lorenzo Eiting #5893</td>
                <td>prodema@email.com</td>
                <td>Materia Prima</td>
            </tr>
            <tr>
                <td>Gretsch-Unitas</td>
                <td>85.334.009-2</td>
                <td> Camino Los Carros #1955</td>
                <td>gu@email.com</td>
                <td>Cerraduras</td>
            </tr>
        </tbody>
    </table>

</div>



