
@{
    ViewBag.Title = "Cart";
}

<style>
    .container-direction {
        display: flex;
        flex-direction: column;
        text-align: center;      
    }
    .label_color_compras {
        background-color: #CCCCCC;
    }
    .label_color_tipo_despacho {
        color:azure;
        background-color: #212529;
    }
    .container-button-distribution {
        display: flex;
        justify-content: space-between;        
    }
    .images-xy {
        width: 200px;
        height: 120px;
    }
    .container-product-med {
        align-items: flex-start;
        text-align: start;
        padding-top: 0;
    }
    .container-select {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: baseline;
    }
    .container-erase {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-direction-rigth {
        display: flex;
        flex-direction: column;
        
    }
 
</style>

<div class="container p-6 mx-auto border bd-default win-shadow" style="margin-top:100px; width: 800px;">
    <div class="container-direction" style="margin: 0 auto;">
        <label class="label_color_compras">Mi carro de compras</label>
        <label class="label_color_tipo_despacho">Seleccionar tipo de despacho</label>
        <div class="container-button-distribution">
            <input type="radio" data-role="radio" data-caption="Despacho a domicilio">
            <input type="radio" data-role="radio" data-caption="Retiro en tienda">
        </div>
        <div class="grid border bd-default">
            <div class="row">
                <div class="cell-3">
                    <div class="img-container rounded">
                        <img class="images-xy" src="https://images.contentful.com/5de70he6op10/KieWCVz2oqb0ZCkbafehQ/cfbe61c1584a6361ee047b652f8919ac/Furniture__Gateway_LP_LS_06.jpg?w=934&q=80&fm=webp" />
                    </div>
                </div>
                <div class="cell-3">
                    <div class="container-product-med">
                        Mesa1 de madera estilo elegante
                    </div>
                </div>
                <div class="cell-4">
                    <div class="container-select">
                        <label>Precio Unitario: </label>
                        <label>$100.000</label>
                    </div>
                    <div class="container-select">
                        <label>Cantidad</label>
                        <input class="w-50" type="text" data-role="spinner" data-step="1">
                    </div>
                </div>
                <div class="cell-2 container-erase">
                    <div>
                        <button class="button alert cycle outline"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid border bd-default">
            <div class="row">
                <div class="cell-3">
                    <div class="img-container rounded">
                        <img class="images-xy" src="https://images.contentful.com/5de70he6op10/KieWCVz2oqb0ZCkbafehQ/cfbe61c1584a6361ee047b652f8919ac/Furniture__Gateway_LP_LS_06.jpg?w=934&q=80&fm=webp" />
                    </div>
                </div>
                <div class="cell-3">
                    <div class="container-product-med">
                        Mesa1 de madera estilo elegante
                    </div>
                </div>
                <div class="cell-4">
                    <div class="container-select">
                        <label>Precio Unitario: </label>
                        <label>$100.000</label>
                    </div>
                    <div class="container-select">
                        <label>Cantidad</label>
                        <input class="w-50" type="text" data-role="spinner" data-step="1">
                    </div>
                </div>
                <div class="cell-2 container-erase">
                    <div>
                        <button class="button alert cycle outline"><span class="mif-cross"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid border bd-default">
            <div class="row">
                <div class="cell-8">
       
                </div>
                <div class="cell-4 container-direction-rigth">                    
                     <label>Subtotal: $200.000</label>
                     <label>Total: $238.000</label>                    
                </div>
            </div>
        </div>
    </div>
</div>

