
@{
    ViewBag.Title = "Cart";
}

<style>
    .container-direction {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
</style>

<div class="container bg-white p-6 mx-auto border bd-default win-shadow" style="margin-top:100px; max-width: 800px">
    <div class="container-direction" style="margin: 0 auto;">
        <label>Mi carro de compras</label>
        <label>Seleccionar tipo de despacho</label>
        <div>
            <input type="radio" data-role="radio" data-caption="Despacho a domicilio">
            <input type="radio" data-role="radio" data-caption="Retiro en tienda">
        </div>
        <div>
           
        </div>
    </div>
</div>

