@{
    ViewBag.Title = "Contact";
}

<style>
    .imagen_pos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 20px 20px;
    }   
</style>

<div class="container bg-white p-6 mx-auto border bd-default win-shadow" 
     style="margin-top:100px; display:flex; flex-direction:row">  
    <div class="img-container rounded imagen_pos" style="width:400px">
        <img src="https://www.prospectivedoctor.com/wp-content/uploads/2017/07/letter-mail-envelope.jpg"/>
    </div>
    <div class="container">
        <form >
            <label>Contactenos:</label>
            <div class="form-group">
                <input type="text" data-role="input" placeholder="Nombre...">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email..." data-role="input" />
            </div>
            <div class="form-group">
                <input type="text" data-role="input" placeholder="Objeto de la consulta...">
            </div>
            <div class="form-group">
                <textarea data-role="textarea" placeholder="Consulta..." data-prepend="<span class='mif-leanpub'></span>"></textarea>
            </div>
            <div class="form-group">
                <a href="/Home/Index" class="button primary outline" style="width:100px">Enviar</a>
            </div>
        </form>
    </div>    
</div>