<style>
#banner_ {
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner_>img {
    max-width: 50%;
}
</style>

<div id="banner_" style="margin-top:50px">
    <img id="banner1" src="~/pics/banner_01_1.png">
</div>
<div class="container p-6" style="margin-top:10px; width: 800px;">
    <div class="container-direction" style="margin: 0 auto">
        <div class="grid bd-default">
            <div class="row">
                <div class="cell-4">
                    <div class="img-container rounded" data-role="hint" data-hint-text="Envienos su consulta">
                        <img class="images-xy" src="~/pics/escribenos.png" />
                    </div>
                </div>
                <div class="cell-4">
                    <div class="img-container rounded" data-role="hint" data-hint-text="Llamenos y responderemos sus consultas">
                        <img class="images-xy" src="~/pics/llamanos.png" />
                    </div>
                </div>
                <div class="cell-4">
                    <div class="img-container rounded" data-role="hint" data-hint-text="Pague con Debito o Credito">
                        <img class="images-xy" src="~/pics/webpay.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul id="closets"
        data-role="list"
        data-sort-class="autor-closets"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-4 cell-md-2">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="150">
                            <div class="slide">
                                <img src="~/pics/closets/closet_02_por.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/closets/closet_02_1.jpg">
                            </div>
                        </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-closets text-bold" style="font-size:12px">Closet Caburgua Cerezo 2 Puertas</figcaption>
                <figcaption class="nombre-closets" style="text-align:justify; font-size:10px">Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y un espacio superior disponibles para guardar ropa de cama o aquello que no usas a menudo</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:12px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:12px" class="precio-closets text-bold" data-format="money">$ 150.000</figcaption></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="150">
                            <div class="slide">
                                <img src="~/pics/closets/closet_05_por.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/closets/closet_05_1.jpg">
                            </div>
                        </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-closets text-bold" style="font-size:12px">Closet Favatex Delf 3P Corredera 2C</figcaption>
                <figcaption class="nombre-closets" style="text-align:justify; font-size:10px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:12px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:12px" class="precio-closets text-bold" data-format="money">$ 380.000</figcaption></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="150">
                            <div class="slide">
                                <img src="~/pics/closets/closet_01_por.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/closets/closet_01_1.jpg">
                            </div>
                        </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-closets text-bold" style="font-size:12px">Closet Yardas C/Espejo 2C y 2P</figcaption>
                <figcaption class="nombre-closets" style="text-align:justify; font-size:10px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:12px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:12px" class="precio-closets text-bold" data-format="money">$ 290.000</figcaption></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="150">
                            <div class="slide">
                                <img src="~/pics/closets/closet_04_por.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/closets/closet_04_1.jpg">
                            </div>
                        </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-closets text-bold" style="font-size:12px">Closet Caburgua Walnut 2P y 4C</figcaption>
                <figcaption class="nombre-closets" style="text-align:justify; font-size:10px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y 2 cajones en su interior.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:12px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:12px" class="precio-closets text-bold" data-format="money">$ 190.000</figcaption></div>
                </div>
            </figure>
        </li>
    </ul>
</div>