<script>
    function sortList(col, dir) {
        $('#paintings').data('list').sorting(col, dir, true)
    }
</script>

<p class="text-center h3 text-light">Sort by</p>
<div class="d-flex flex-justify-center flex-wrap m-2">
    <ul data-role="list"
        data-sort-class="painting-price"
        data-filter-class="painting-author"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4"
        data-source="data/paintings.json"
        data-show-search="true"></ul>
    <div class="cell-md-4 mt-4">
        <select data-role="select" data-filter="false" data-prepend="Paints By:" data-on-change="$('#paintings').data('list').filter(this.value)">
            <option value="" selected>All</option>
            <option value="gogen">Gogen</option>
            <option value="sezann">Sezann</option>
            <option value="bacon">Bacon</option>
            <option value="klimt">Klimt</option>
            <option value="munk">Munk</option>
            <option value="picasso">Picasso</option>
        </select>
    </div>
</div>

<ul id="paintings"
    data-role="list"
    data-sort-class="painting-price"
    data-sort-dir="desc"
    data-cls-list="unstyled-list row flex-justify-center mt-4"
    data-cls-list-item="cell-sm-6 cell-md-4">
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="https://cdn.shopify.com/s/files/1/2660/5236/products/cmiqwlrueowxmjtosgrx_medium.jpg?v=1578611845" alt="Gogen, When is the wedding">
            </div>
            <figcaption class="painting-name">When is the wedding</figcaption>
            <figcaption class="painting-author text-bold">Gogen</figcaption>
            <figcaption class="painting-price" data-format="money">$ 300M</figcaption>
        </figure>
    </li>
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="https://cdn.shopify.com/s/files/1/2660/5236/products/25551356_CH1cc_medium.jpg?v=1578613012" alt="Sezann, Players in cards">
            </div>
            <figcaption class="painting-name">Players in cards</figcaption>
            <figcaption class="painting-author text-bold">Sezann</figcaption>
            <figcaption class="painting-price" data-format="money">$ 250M</figcaption>
        </figure>
    </li>
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="https://home.ripley.cl/store/Attachment/WOP/D359/2000367646567/2000367646567_2.jpg" alt="Kunning, Woman III">
            </div>
            <figcaption class="painting-name">Woman III</figcaption>
            <figcaption class="painting-author text-bold">Bacon</figcaption>
            <figcaption class="painting-price" data-format="money">$ 137M</figcaption>
        </figure>
    </li>
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="images/paintings/klimt.jpg" alt="Klimt, Gold Adele">
            </div>
            <figcaption class="painting-name">Gold Adele</figcaption>
            <figcaption class="painting-author text-bold">Klimt</figcaption>
            <figcaption class="painting-price" data-format="money">$ 135M</figcaption>
        </figure>
    </li>
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="images/paintings/munk.jpg" alt="Munk, The Scream">
            </div>
            <figcaption class="painting-name">The Scream</figcaption>
            <figcaption class="painting-author text-bold">Munk</figcaption>
            <figcaption class="painting-price" data-format="money">$ 119M</figcaption>
        </figure>
    </li>
    <li>
        <figure class="text-center">
            <div class="img-container thumbnail">
                <img src="images/paintings/picasso.jpg" alt="Picasso, Nude, green leaves and bust">
            </div>
            <figcaption class="painting-name">Nude, green leaves and bust</figcaption>
            <figcaption class="painting-author text-bold">Picasso</figcaption>
            <figcaption class="painting-price" data-format="money">$ 106M</figcaption>
        </figure>
    </li>
</ul>