
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        margin: 20px 20px 20px 20px;
    }

    .card-header {
        min-height: 300px;
    }
</style>

<div class="container" style="display:flex;
            flex-direction:row; margin-top:100px">

    <div class="card image-header">
        <div class="card-header fg-white"
             style=" background-image: url(../pics/mission/brand.png)">
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">Titulo1</p>
            Quisque eget vestibulum nulla. Quisque quis dui quis ex
            ultricies efficitur vitae non felis. Phasellus quis nibh
            hendrerit...
        </div>
    </div>

    <div class="card image-header">
        <div class="card-header fg-white"
             style=" background-image: url(../pics/mission/wood.jpg)">
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">Titulo 2</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras iaculis tincidunt vulputate. Aliquam faucibus nisi lectus,
            id dapibus felis lobortis quis. Phasellus suscipit diam vitae orci
            ullamcorper pulvinar. Quisque velit.
        </div>
    </div>


</div>

<div class="container" style="display:flex;
            flex-direction:row; margin-top:100px">

    <div class="card image-header">
        <div class="card-header fg-white"
             style=" background-image: url(../pics/mission/presentation.png)">
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">Titulo 3</p>
            Vivamus pretium felis efficitur, blandit enim non,
            venenatis libero. Nullam ac auctor lectus, vel ultrices eros. Duis sed erat
            ullamcorper, ornare erat a, laoreet dolor. Etiam sed mollis mauris.
            Pellentesque..
        </div>
    </div>

    <div class="card image-header">
        <div class="card-header fg-white"
             style=" background-image: url(../pics/mission/charts.jpg)">
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">Titulo 4</p>
            Suspendisse vel varius massa. Ut vehicula dictum vehicula.
            Praesent pharetra dui nunc, et viverra nibh posuere sed.
            Maecenas dictum quam sed pretium pellentesque. Donec et ipsum
            in lacus euismod pharetra.
        </div>
    </div>

</div>