
@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text_container {
        text-align: justify;
        text-indent: 1cm;
        text-shadow: 4px 4px 8px grey;
    }
</style>

    <div class="text_container container bg-white p-6 mx-auto border bd-default win-shadow"
         style="margin-top:100px;">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla tristique mattis sem, sed volutpat dui sagittis eu. 
            Aliquam at est tellus. Sed eu lectus quis odio volutpat vestibulum.
            Suspendisse at ipsum ultrices, scelerisque mauris at, eleifend elit. 
            Donec ac venenatis tellus. Morbi sit amet mattis sapien.
            Aliquam laoreet vulputate tortor, quis finibus diam bibendum et.
            Aenean sed accumsan leo. Integer sed sem blandit, 
            lobortis mauris nec, ullamcorper dolor. Phasellus placerat 
            purus eget turpis faucibus, eget ultricies eros varius. 
            Nulla id ligula consequat, iaculis justo in, dictum dolor. 
            Donec in velit nec erat pellentesque bibendum. Nullam posuere odio 
            sed tellus condimentum, non gravida nibh mattis. 
            Nam auctor sapien arcu, at imperdiet augue dapibus nec.
            Donec quis molestie dolor.
        </p>

        <p>
            Maecenas pretium turpis justo. Praesent in hendrerit nisl, lobortis
            egestas purus. Sed sed porta ante. Donec porttitor tincidunt mi 
            convallis sollicitudin. Duis efficitur fringilla aliquet.
            Nam rutrum porta nibh, ac tincidunt sem consequat et.
            Mauris ultricies ullamcorper lorem, eget hendrerit quam dapibus eget.
            Mauris non justo ut erat placerat eleifend convallis commodo metus. 
            Nulla quam est, commodo eget velit nec, posuere ornare leo. Vivamus
            in elit lectus. Nulla tincidunt molestie risus, ut venenatis est 
            efficitur quis. Suspendisse accumsan massa vitae dui fringilla, 
            vitae faucibus ipsum venenatis. Sed laoreet massa rutrum leo pretium, 
            eget tincidunt ipsum mattis. Aliquam ex lorem, auctor aliquet tortor
            at, condimentum aliquet elit. Vestibulum sit amet mi faucibus, luctus 
            diam at, ornare ante. Donec sit amet sapien lorem.
        </p>

        <p>
            Pellentesque sed nisi fringilla, scelerisque ex et, molestie libero.
            Mauris ornare faucibus facilisis. Maecenas posuere semper auctor.
            Nullam a hendrerit nisl. Cras elementum eros sit amet dolor euismod 
            viverra. Donec condimentum aliquet turpis, dignissim auctor nisi 
            consequat at. Vestibulum ac diam ac leo iaculis eleifend ac in massa.
            Nunc a dolor laoreet, rutrum ipsum malesuada, porta sapien.
            Maecenas sagittis pellentesque egestas. Quisque vel nisi sed augue
            ultricies placerat. Nulla ac congue ante. Quisque sollicitudin erat 
            bibendum augue consectetur, vitae varius erat hendrerit. 
            Praesent faucibus tortor lectus, in suscipit tellus porta sit amet.
        </p>
    </div>