<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intranet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/metro")

    <style>
        .button2 {
            background: transparent;
            border: none;
        }
        
    </style>
  
</head>



<body>
    <aside class="sidebar pos-absolute z-2"
           data-role="sidebar"
           data-toggle="#sidebar-toggle-3"
           id="sb3"
           data-shift=".shifted-content">
        <div class="sidebar-header" data-image="mif-user icon">
            <div class="avatar" >
                <img data-role="gravatar" data-email="a@b.com" data-default="mp">
            </div>
            <span class="title fg-white">Trabajador 1</span>
            <span class="subtitle fg-white">Gerencia</span>
        </div>
        <ul class="sidebar-menu">
            <li>
                <div style="display:flex; flex-direction:row; align-items:center">
                    <a href="#"><span class="mif-stack icon"></span>Insumos</a>
                    <button class="button2 dropdown-toggle dropdownmenu" href="#" style="padding: 0px 0px 0px 0px;"></button>
                </div>
                <ul class="d-menu" data-role="dropdown" style="display: none;">
                    <li><a href="/Insumo/Index"><span class="mif-zoom-in icon"></span>Ver Insumos</a></li>
                    <li><a href="#">Subitem 2</a></li>
                    <li><a href="#">Subitem 3</a></li>
                    <li><a href="#">Subitem 4</a></li>
                </ul>
            </li>
            <li>
                <div style="display:flex; flex-direction:row; align-items:center">
                    <a href="#"><span class="mif-cart icon"></span>Productos</a>
                    <button class="button2 dropdown-toggle dropdownmenu" href="#" style="padding: 0px 0px 0px 0px;"></button>
                </div>
                <ul class="d-menu" data-role="dropdown" style="display: none;">
                    <li><a href="/Producto/Index"><span class="mif-zoom-in icon"></span>Ver Productos</a></li>
                    <li><a href="#">Subitem 2</a></li>
                    <li><a href="#">Subitem 3</a></li>
                    <li><a href="#">Subitem 4</a></li>
                </ul>
            </li>
            <li>
                <div style="display:flex; flex-direction:row; align-items:center">
                    <a href="#"><span class="mif-shop icon"></span>Proveedores</a>
                    <button class="button2 dropdown-toggle dropdownmenu" href="#" style="padding: 0px 0px 0px 0px;"></button>
                </div>
                <ul class="d-menu" data-role="dropdown" style="display: none;">
                    <li><a href="/Proveedor/Index"><span class="mif-zoom-in icon"></span>Ver Proveedores</a></li>
                    <li><a href="#">Subitem 2</a></li>
                    <li><a href="#">Subitem 3</a></li>
                    <li><a href="#">Subitem 4</a></li>
                </ul>
            </li>            
            <li class="divider"></li>
            <li><a href="/Home"><span class="mif-exit icon"></span>Salir</a></li>
        </ul>
    </aside>
    <div class="shifted-content h-100 p-ab">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>
        <div class="h-100 p-4">
            @RenderBody()
        </div>
    </div>
   
</body>
</html>
