<div class="container">
    <ul id="comedores"
        data-list-search-title="Buscar:"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="precio-comedores"
        data-sort-dir="asc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comedores/comedor_01.jpg" alt="Comedor Lyon">
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Comedor Lyon 6 Sillas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">La mesa cuenta con una elegante y sobria estructura y cubierta de madera, es extensible por lo que se adapta a espacios de distintas dimensiones y aporta un estilo clásico a tu comedor gracias a su pilar central torneado.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 280.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comedores/comedor_06.jpg" alt="Comedor Fiji">
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Comedor Fiji 6 Sillas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Complementa a la perfección tu hogar con este moderno comedor. Dale un toque de elegancia y sofisticación a tus espacios familiares con este modelo, una línea que combina formas y colores que le darán versatilidad y calidez a tu hogar.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 230.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comedores/comedor_04.jpg" alt="Comedor Florencia">
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Comedor Florencia 6 Sillas y 2 Sitiales</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Renueva tu hogar con este increíble juego de comedor que complementará a la perfección tu hogar, sus modelos harán que tus espacios se vean moderno, diseñado con materialidades de alta resistencia para entregarte mayor durabilidad.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 450.990</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comedores/comedor_03.jpg" alt="Comedor Venezia">
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Comedor Venezia 8 Sillas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Complementa a la perfección tu hogar con este moderno comedor. Dale un toque de elegancia y sofisticación a tus espacios familiares con este modelo, una línea que combina diversas materialidades, dándole versatilidad a tu hogar.                </figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 580.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>