<p class="text-center h3 text-light">Sort by</p>
<div class="container">
    <ul id="camas"
        data-list-search-title="Buscar:"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="autor-camas"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="300">
                            <div class="slide">
                                <img src="~/pics/camas/cama_01.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_01_1.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_01_2.jpg">
                            </div>
                        </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Marco Charcoal Queen Panel</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Simple y versátil, nuestra cama Marco Charcoal te invita a crear el dormitorio de tus sueños. Los detalles del panel en la cabecera y el pie de cama son una adición encantadora, mientras que el acabado gris oscuro mantiene el aspecto atractivo y sofisticado.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 475.800</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="300">
                            <div class="slide">
                                <img src="~/pics/camas/cama_02.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_02_1.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_02_2.jpg">
                            </div>
                        </div>
                    </a>
                </div>        
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Alton Cherry Queen Platform</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Descansa en una cama que se ve fresca pero relajada. Desde patas cónicas hasta un perfil elegante, este diseño cuenta con un estilo atemporal de mediados de siglo. La construcción sólida de madera dura y chapa refuerza la robustez, mientras que un acabado en cerezo realza su encanto cálido e informal.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 390.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="300">
                            <div class="slide">
                                <img src="~/pics/camas/cama_03.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_03_1.jpg">
                            </div>
                            <div class="slide">
                                <img src="~/pics/camas/cama_03_2.jpg">
                            </div>
                        </div>
                    </a>
                </div>        
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Caleb Queen Platform</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Los tablones de acacia sólida y madura del centro de Vietnam se colocan en una disposición única, que aporta un patrón dinámico y textura a esta pieza. Un acabado gris ahumado arenado le da ese elemento contemporáneo distintivo para un espacio que se siente cálido y moderno.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 437.500</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <div class="carousel" data-role="carousel" data-controls="false" data-bullets="false" data-effect="fade" data-period="3000" data-duration="500" data-auto-start="true" data-height="300">
                        <div class="slide">
                            <img src="~/pics/camas/cama_06.jpg">
                        </div>
                        <div class="slide">
                            <img src="~/pics/camas/cama_06_1.jpg">
                        </div>
                        <div class="slide">
                            <img src="~/pics/camas/cama_06_2.jpg">
                        </div>
                    </div>
                    </a>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Allen Queen C/Cajones</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Esta cama con cajoneras ahorrará espacio y agregará estilo. Inspirado en el aspecto nítido e intemporal de mediados de siglo, el diseño sólido de acacia y chapa está acabado en un ligero lavado con chorro de arena e incluye dos cajones de pie que mantienen la ropa y los accesorios cerca.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 520.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>