@*<script>
    function sortList(col, dir) {
        $('#camas').data('list').sorting(col, dir, true)
    }
</script>*@

<p class="text-center h3 text-light">Sort by</p>
<div class="container">
    <ul id="camas"
        data-list-search-title="Buscar:"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="autor-camas"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/camas/cama_01.jpg" alt="Closet Caburgua Cerezo 2P">
                    </a>
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">1.80mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">1.00mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Closet Caburgua Cerezo 2 Puertas</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y un espacio superior disponibles para guardar ropa de cama o aquello que no usas a menudo</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 150.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/camas/cama_02.jpg" alt="Closet Favatex Delf 3P Corredera 2C">
                    </a>
                </div>        
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">1.45mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">1.20mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.51mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Closet Favatex Delf 3P Corredera 2C</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/camas/cama_03.jpg" alt="Closet Yardas Puerta con Espejo">
                    </a>
                </div>        
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Closet Yardas Puerta con Espejo 2 Cajones y 2 Puertas</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/camas/cama_04.jpg" alt="Closet Caburgua Walnut 2 Puertas y 4 cajones">
                    </a>
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-camas text-bold">Closet Caburgua Walnut 2 Puertas y 4 cajones</figcaption>
                <figcaption class="nombre-camas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y 2 cajones en su interior.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-camas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>