<script>
function sortList(col, dir) {
    $('#comedores').data('list').sorting(col,dir,true)
}
</script>

<p class="text-center h3 text-light">Sort by</p>
<div class="container bg-white p-6 mx-auto border bd-default win-shadow" style="margin-top:100px; max-width: 1000px">
    <ul id="comedores"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="autor-comedores"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_06.jpg" alt="Closet Favatex Corredera">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.80" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.80mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.20" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.20mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".05" data-fixed="2" data-min-value=".35" data-max-value=".55" />
                        <p style="font-size:10px">Min: 0.35mt, Max: 0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Closet Favatex Puertas de Corredera</figcaption>
                <div class="accordion" data-role="accordion">
                    <div class="accordion-frame">
                        <a href="#" class="heading">Frame heading</a>
                        <div class="content">Closet Favatex</div>
                    </div>
                </div>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Los modelos Favatex, son perfectos si lo que buscas es renovar tu hogar. Funcionales y atractivos, te permitirán ambientar cada uno los espacios de tu hogar con ese estilo que tanto buscabas.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></p>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_02.jpg" alt="Closet Caburgua Cerezo 2 Puertas">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.80" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.80mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.20" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.20mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".05" data-fixed="2" data-min-value=".35" data-max-value=".55" />
                        <p style="font-size:10px">Min: 0.35mt, Max: 0.55mt</p>
                    </div>
                </div>
                <figcaption class="autor-comedores text-bold">Closet Caburgua Cerezo 2 Puertas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y un espacio superior disponibles para guardar ropa de cama o aquello que no usas a menudo.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></p>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_02.jpg" alt="Closet Caburgua Cerezo 2 Puertas">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.80" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.80mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.20" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.20mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".05" data-fixed="2" data-min-value=".35" data-max-value=".55" />
                        <p style="font-size:10px">Min: 0.35mt, Max: 0.55mt</p>
                    </div>
                </div>
                <figcaption class="autor-comedores text-bold">Closet Caburgua Cerezo 2 Puertas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y un espacio superior disponibles para guardar ropa de cama o aquello que no usas a menudo.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></p>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_02.jpg" alt="Closet Caburgua Cerezo 2 Puertas">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.80" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.80mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".10" data-fixed="2" data-min-value="1.20" data-max-value="2.40" />
                        <p style="font-size:10px">Min: 1.20mt, Max: 2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <input type="text" class="input-small" data-role="spinner" data-step=".05" data-fixed="2" data-min-value=".35" data-max-value=".55" />
                        <p style="font-size:10px">Min: 0.35mt, Max: 0.55mt</p>
                    </div>
                </div>
                <figcaption class="autor-comedores text-bold">Closet Caburgua Cerezo 2 Puertas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y un espacio superior disponibles para guardar ropa de cama o aquello que no usas a menudo.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="row">
                    <div class="col-md-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="col-md-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-3x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>