<script>
function sortList(col, dir) {
    $('#comedores').data('list').sorting(col,dir,true)
}
</script>

<p class="text-center h3 text-light">Sort by</p>
<div class="container bg-white p-6 mx-auto border bd-default win-shadow" style="margin-top:100px; max-width: 1000px">
    <ul id="comedores"
        data-role="list"
        data-show-search="true"
        data-table-search-title="Buscar:"
        data-search-wrapper="#icon-search"
        data-sort-class="autor-comedores"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_06.jpg" alt="Closet Favatex Corredera">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold" style="text-align:center";>Closet Favatex Puertas de Corredera</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Los modelos Favatex, son perfectos si lo que buscas es renovar tu hogar. Funcionales y atractivos, te permitirán ambientar cada uno los espacios de tu hogar con ese estilo que tanto buscabas.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_06.jpg" alt="Closet Favatex Corredera">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Closet Favatex Puertas de Corredera</figcaption>
                <div class="accordion" data-role="accordion">
                </div>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Los modelos Favatex, son perfectos si lo que buscas es renovar tu hogar. Funcionales y atractivos, te permitirán ambientar cada uno los espacios de tu hogar con ese estilo que tanto buscabas.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></p>
                    </div>
                    <div class="cells row">
                        <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                        <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_01.jpg" alt="Closet Yardas Puerta con Espejo 2C 2P">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Closet Yardas Puerta con Espejo 2C 2P</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Clóset fabricado en madera aglomerada pintada. Cuenta con 2 puertas y 2 Cajones interiores, además de espejos en una de sus puertas.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 375.900</figcaption></p>
                    </div>
                    <div class="cells row">
                        <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                        <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_03.jpg" alt="Closet Maule Cerezo 4 puertas">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Closet Maule Cerezo 4 puertas</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 8 cajones.</figcaption>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mt-3 mb-5">
                        <p class="mt-0"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 460.000</figcaption></p>
                    </div>
                    <div class="cells row">
                        <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                        <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                    </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/closets/closet_04.jpg" alt="Closet Caburgua Walnut 2 Puertas y 4 cajones">
                </div>
                <div class="row">
                    <div class="cell-md-4">
                        <p style="font-size:14px">Alto</p>
                        <p style="font-size:12px">2.10mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Ancho</p>
                        <p style="font-size:12px">2.40mt</p>
                    </div>
                    <div class="cell-md-4">
                        <p style="font-size:14px">Fondo</p>
                        <p style="font-size:12px">0.55mt</p>
                    </div>
                </div>
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comedores text-bold">Closet Caburgua Walnut 2 Puertas y 4 cajones</figcaption>
                <figcaption class="nombre-comedores" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comedores text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/Login" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>