<script>
    function sortList(col, dir) {
        $('#comedores').data('list').sorting(col, dir, true)
    }
</script>

<p class="text-center h3 text-light">Sort by</p>
<div class="container">
    <ul id="comedores"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="autor-comedores"
        data-sort-dir="desc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_01.jpg" alt="Sezann, Players in cards">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 520.000</figcaption>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_02.jpg" alt="Sezann, Players in cards">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 520.000</figcaption>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_03.jpg" alt="Kunning, Woman III">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 580.000</figcaption>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_04.jpg" alt="Klimt, Gold Adele">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 730.000</figcaption>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_05.jpg" alt="Munk, The Scream">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 845.000</figcaption>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <img src="~/pics/comedores/comedor_07.jpg" alt="Picasso, Nude, green leaves and bust">
                </div>
                <figcaption class="nombre-comedores">Nude, green leaves and bust</figcaption>
                <figcaption class="autor-comedores text-bold">Picasso</figcaption>
                <figcaption class="precio-comedores" data-format="money">$ 640.000</figcaption>
            </figure>
        </li>
    </ul>
</div>