<p class="text-center h3 text-light">Sort by</p>
<div class="container">
    <ul id="comodas"
        data-list-search-title="Buscar:"
        data-role="list"
        data-show-search="true"
        data-search-wrapper="#icon-search"
        data-sort-class="precio-comodas"
        data-sort-dir="asc"
        data-cls-list="unstyled-list row flex-justify-center mt-4"
        data-cls-list-item="cell-sm-6 cell-md-4">
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comodas/comoda_01.jpg" alt="Comoda Baker Grafito">
                    </a>
                </div>        
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comodas text-bold">Comoda Baker Grafito</figcaption>
                <figcaption class="nombre-comodas" style="text-align:justify; font-size:12px">La cómoda Baker, tiene 4 cajones, 2 más pequeños en la parte de arriba y 2 más grandes en la parte inferior. Cada cajón tiene apertura a través de rieles telescópicos, que le dan mayor firmeza y suavidad en la apertura.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comodas text-bold" data-format="money">$ 190.990</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comodas/comoda_02.jpg" alt="Closet Favatex Delf 3P Corredera 2C">
                    </a>
                </div>       
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comodas text-bold">Closet Favatex Delf 3P Corredera 2C</figcaption>
                <figcaption class="nombre-comodas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comodas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comodas/comoda_03.jpg" alt="Closet Yardas Puerta con Espejo">
                    </a>
                </div>        
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comodas text-bold">Closet Yardas Puerta con Espejo 2 Cajones y 2 Puertas</figcaption>
                <figcaption class="nombre-comodas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio y grande incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y además 4 cajones.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comodas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="text-center">
                <div class="img-container thumbnail">
                    <a href="/Home/product_selected/">
                        <img src="~/pics/comodas/comoda_04.jpg" alt="Closet Caburgua Walnut 2 Puertas y 4 cajones">
                    </a>
                </div>        
                <input data-role="rating" id="rating-methods" data-stars="5" data-star-color="yellow" data-stared-color="yellow">
                <figcaption class="autor-comodas text-bold">Closet Caburgua Walnut 2 Puertas y 4 cajones</figcaption>
                <figcaption class="nombre-comodas" style="text-align:justify; font-size:12px">Hermoso y práctico closet con toda la calidad que entrega nuestra marca. Ideal para dormitorios de tamaño medio incorporando las puertas corredera ideal para no perder más espacio al momento de abrir las puertas, este modelo contiene diversos compartimientos para colgar ropa, almacenar en repisas y 2 cajones en su interior.</figcaption>
                <div class="row">
                    <div class="col-md-8"><p class="mt-0" style="text-align:left;font-size:14px;font-weight:bold">Precio contado</p></div>
                    <div class="col-md-4"><figcaption style="color:red;text-align:right;font-size:14px" class="precio-comodas text-bold" data-format="money">$ 680.000</figcaption></div>
                </div>
                <div class="cells row">
                    <div class="cell-4"><input type="text" class="input-small" data-role="spinner" data-step="1" data-min-value="0" data-max-value="10" style="vertical-align" /></div>
                    <div class="cell-1"><a href="~/Home/user_client_choose" title="Agregar producto(s) a la canasta"><span class="mif-add-shopping-cart mif-2x"></span></a></div>
                </div>
            </figure>
        </li>
    </ul>
</div>