<div class="container p-6" style="margin-top:100px; width: 800px;">
    <div class="container-direction" style="margin: 0 auto;">
        <p class="text-center">
            <display1>Seleccione mueble a diseñar</display1>
        </p>
            <div class="grid border bd-default">
                <div class="row">
                    <div class="cell-3">
                        <div class="img-container rounded" data-role="hint" data-hint-text="Seleccione para diseñar su Closet">
                            <a href="/Producto/ClosetsCR"><img class="images-xy" src="~/pics/choose/closet.png"/></a>
                    </div>
                    </div>
                    <div class="cell-5">

                    </div>
                    <div class="cell-3">
                        <div class="img-container rounded" data-role="hint" data-hint-text="Seleccione para diseñar su Comoda">
                            <a href="/Producto/ComodasCR"><img class="images-xy" src="~/pics/choose/comoda.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>