@{
    ViewBag.Title = "Intranet";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }
</style>

<br />
<div class="container" id="principal">
    <h3> Ver Producto</h3>
    <table><tr><td><a href="@Url.Action("Index","Producto")">Producto/</a></td><td><a href="@Url.Action("Index","Insumo")"> Insumos /</a></td><td><a href="@Url.Action("Index","Proveedor")">Proveedores</a></td></tr></table>
    <hr />
    <form class="bg-white p-6 mx-auto border bd-default win-shadow">
        <table>
            <tr><td style="padding-right:15px;">Codigo Producto:</td><td style="padding-top:10px;"><input style="width:400px;" type="text" data-role="input" value="PD-01" disabled="disabled" class="input-lg"></td></tr>
            <tr><td style="padding-right:15px;">Ingreso:</td><td style="padding-top: 10px;"><input style="width:347px;" type="text" data-role="input" class="input-lg" value="20-02-2018" disabled="disabled" /></td></tr>
            <tr><td style="padding-right:15px;">Valoración:</td><td style="padding-top:10px;"><input style="width:400px;" type="text" data-role="input" value="$ 650.000" disabled="disabled" class="input-lg"></td></tr>

            <tr><td style="padding-right:15px;">Descripción:</td><td style="padding-top:10px;"><input style="width:400px;" type="text" data-role="input" value="La descripcion..." disabled="disabled" class="input-lg"></td></tr>
            <tr>
                <td style="padding-right:15px;padding-top:20px;">Estado:</td>
                <td style="padding-top:10px;"><input style="width:400px;" type="text" data-role="input" value="Produccion" disabled="disabled" class="input-lg"></td>
            </tr>
        </table><br />

    </form>

</div>
