@{
    ViewBag.Title = "Intranet";
    Layout = "~/Areas/Produccion/Views/Shared/_IntranetLayoutInsumos.cshtml";
}

<style>
    #principal {
        width: 900px;
        height: auto;
        top: 50%;
        margin-top: 60px;
        border: 1px solid green;
        padding: 50px;
        position: relative;
    }
    #btn_nuevo {
        margin-bottom:20px;
        margin-left: 10px;
    }
</style>

<div class="container" id="principal">
    <div style="display:flex; flex-direction:row; align-items:baseline; justify-content:space-between">
        <h3>Lista de Insumo</h3>
        <a id="btn_nuevo" href="@Url.Action("Nuevo","Insumo")" class="button primary rounded"><span class="mif-add icon">Nuevo</span></a>
    </div>
    
    <hr />
    <table class="table compact">
        <thead>
            <tr>
                <th>#</th>
                <th>Descripcion</th>
                <th>Unidad Medida</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Manillas de Bronce</td>
                <td>Unidad</td>
                <td>Accesorios</td>
                <td>
                    <a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver</a>                    
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Terciado Estructural</td>
                <td>M2</td>
                <td>Materia Prima</td>
                <td>
                    <a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver</a>                    
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Pintura Blanca</td>
                <td>Galon</td>
                <td>Pinturas</td>
                <td>
                    <a href="@Url.Action("Ver","Insumo", new { id = 1 })">Ver</a>                    
                </td>
            </tr>
        </tbody>
    </table>

</div>



